doctype html
// Website Template by freewebsitetemplates.com
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title documents - Site Diriga
    link(rel='stylesheet', type='text/css', href='css/style.css')
    link(rel='stylesheet', type='text/css', href='css/mobile.css', media='screen and (max-width : 568px)')
    script(type='text/javascript', src='js/mobile.js')
  body
    #header
      a.logo(href='index.html')
        img(src='images/logo.png', alt='')
      ul#navigation
        li
          a(href='index.html') home
        li
          a(href='about.html') about
        li.selected
          a(href='documents.html') documents
        li
          a(href='blog.html') blog
        li
          a(href='contact.html') contact
    #body
      h1
        span documents
      ul#documents
        li
          a(href='documents-single-post.html')
            img(src='images/document.jpg', alt='')
            span Cambridge advanced workbook
        li
          a(href='documents-single-post.html')
            img#file(src='images/video.jpg', alt='')
            span Boston Tea Party Documentary
        li
          a(href='documents-single-post.html')
            img(src='images/image.jpg', alt='')
            span Some beautiful picture
        li
          a(href='documents-single-post.html')
            img#image(src='images/document.jpg', alt='')
            span Upstream Upper Intermediate B2+
        li
          a(href='documents-single-post.html')
            img(src='images/image.jpg', alt='')
            span Nu mai am idei de nume
        li
          a(href='documents-single-post.html')
            img(src='images/image.jpg', alt='')
            span Eeny
        li
          a(href='documents-single-post.html')
            img(src='images/audio.jpg', alt='')
            span meeny
        li
          a(href='documents-single-post.html')
            img(src='images/document.jpg', alt='')
            span miny
        li
          a(href='documents-single-post.html')
            img(src='images/video.jpg', alt='')
            span moe
    #footer
      div
        p © 2018 by Mr. Beard Bear Team. All rights reserved.
        ul
          li
            a#facebook(href='https://www.facebook.com/visterneanu.mihaela') facebook
          li
            a#ltgm(href='http://www.liceulmoisil.ro/') LTGM
