doctype html
// Website Template by freewebsitetemplates.com
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Site Diriga
    link(rel='stylesheet', type='text/css', href='css/style.css')
    link(rel='stylesheet', type='text/css', href='css/mobile.css', media='screen and (max-width : 568px)')
    script(type='text/javascript', src='js/mobile.js')
  body
    #header
      a.logo(href='index.html')
        img(src='images/logo.png', alt='')
      ul#navigation
        li.selected
          a(href='index.html') home
        li
          a(href='about.html') about
        li
          a(href='documents.html') Documents
        li
          a(href='blog.html') blog
        li
          a(href='contact.html') contact
    #body
      #featured
        img(src='images/wallpaper.jpg', alt='')
        div
          h2 About me
          span lorem ipsum dolor sit amet, consectetur 
          span Donec efficitur nulla mauris, et tempor mauris vehicula non.
          span Donec at hendrerit ipsum. Cras sit amet aliquam odio. 
          a.more(href='about.html') read more
      ul
        #elements
          li
            a(href='documents.html')
              img(src='images/document.jpg', alt='')
              span Document type file
          li
            a(href='documents.html')
              img(src='images/document.jpg', alt='')
              span Document type file
          li
            a(href='documents.html')
              img(src='images/document.jpg', alt='')
              span Document type file
          li
            a(href='documents.html')
              img(src='images/audio.jpg', alt='')
              span Listening
          li
            a(href='documents.html')
              img(src='images/image.jpg', alt='')
              span Image file
    #footer
      div
        p © 2018 by Mr. Beard Bear Team. All rights reserved.
        ul
          li
            a#facebook(href='https://www.facebook.com/visterneanu.mihaela') facebook
          li
            a#ltgm(href='http://www.liceulmoisil.ro/') LTGM
