extends layout

block content
  .main.container
    .row.text-xs-center
      .col-md-6.col-md-offset-3.p-t-2(style="text-align: center; font-size: 24px")
        p.icn-person.material-icons(style="margin-top: 100px") Error
        p.lead.m-t-2(style="margin-bottom: 420px")= message 