extends layout

block content
    #body
      #featured
        img(src='images/wallpaper.jpg', alt='')
        div
          h2 About me
          span "To have another language
          span is to possess second soul"
          span - Charlemagne 
          a.more(href='/about') read more
      ul
        #elements
          each val in documents
            li
              a(href=`/documents/${val._id}`)
                img(src=`/images/${val.file_type}.jpg`, alt = '')
                span #{val.name}

